.layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 240px;

  background-color: var(--sidebar-color);

  color: white;

  padding: 1.5rem;

  display: flex;
  flex-direction: column;

  gap: 2rem;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar a {
  color: white;
}

.content {
  flex: 1;
  padding: 2rem;
}